server:
  contextPath: /admin
spring:
  mail:
    username: info@smartcommunitylab.it
    password: password
    host: smtp.smartcommunitylab.it
    port: 465
    protocol: smtps    

  boot:
    monitor:
        period: 30000
        status-lifetime: 30000
        connect-timeout: 5000
    admin:
      username: "${security.user.name}"       #These two are needed so that the client
      password: "${security.user.password}"   #can register at the protected server api
      notify:
        mail:
          to: recepient@example.com
  cloud:
    discovery:
      client:
        simple:
          instances:
            mobility:
              - uri: http://localhost:7011
                metadata:
                  management.context-path: /manage
            gamification:
              - uri: http://localhost:9000
                metadata:
                  management.context-path: /manage
            climb:
              - uri: http://localhost:6021
                metadata:
                  management.context-path: /manage

management:
  security:
    enabled: true
security:
  user:
    name: user
    password: pass
    